.footerH2{
    margin-left: 8vw;
}

.subs{
    display: flex;
}

.inputEle{
    display: flex;
    margin-left: 40vw;
    margin-top: 1rem;
    height: 3rem;
}

.Support{
    display: flex;
}

.Support a{
    color: grey;
}