img{
    height: 50px;
    width: 20px;
    border-radius: 0.25rem;
}

.today{
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
}

.today h2{
    margin-top: 10px;
    margin-left: 8px;
    color: rgb(220,0,0);
}

h1{
    margin-left: 30px;
}