.main{
    width: 75%;
    margin: auto;
}

.below{
    margin-top: 20px;
}

.i{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.cards{
    background-color: wheat;
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 3rem;
    width: 25%;
}

.imgDiv{
    border-radius: 1rem;
    background-color: #3F51B5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}

.btm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.slick-slide > div{     /*since we are using slick css so we have a div inside slick slide, we just have to add some margin to it for spacing between 2 card divs*/

    margin: 0 10px;
}
